body {
    margin: auto;
}

.shoes::after {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;
  top: 0;
 left: 0;
 bottom: 0;
 right: 0;
 position: absolute;
 content: "";
}

#shop h1 {
  margin-top: 5px;
  font-size: 60px;
  color: #420101;
  margin-left: 35%;
  font-style: italic;
  font-weight: bold;
  box-shadow: #a83939;
  margin-bottom: 25px;
  text-shadow: 0px 3px 5px rgba(249, 152, 158, .95);
}

.addTxt {
  height: 22px;
  width: 16%;
  font-size: 16px;
  border-radius: 3px;
  margin-right: 1px;
  border-color: #f9989e;
}

.searchBtn {
  margin-left: 2px;
  width: 10px;
  border-color: #f9989e;
  color: #42010e;
  background-image: url("search.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 20px;
}

.addBtn {
  background-image: url("add.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 30px;
  border-color: #f9989e;
  color: #42010e;
  width: 35%;
  height: 30px;
  font-size: 15px;
  margin-top: 3%;
  margin-left: 19%;
}

#shop button {
  width: 80px;
  height: 30px;
  font-size: 16px;
  border-radius: 3px;
}

.searchTxt {
  height: 22px;
  width: 17%;
  font-size: 16px;
  border-radius: 3px;
  margin-right: 1px;
  border-color: #f9989e;
  margin-top: -5px;
}

label {
 font-size: 17px;
 color: #0c0c0c;
}

p {
 font-size: 21px;
 color: #0c0c0c;
 font-weight: bold;
}

#color {
  margin-left: 73%;
  margin-top: -17.5%;
}

img {
  width: 150px;
  height: 150px;
}

#shoeContainer {
  margin-left: 15%;
  margin-top: 2%;
}

#shoeBrand {
  float: left;
  margin-left: 3px;
  margin-bottom: 10px;
  padding: 5px;
  border-style: inset;
  background-color: #fff;
  color: #110900;
  border-color: #f9989e;
}

#container {
    margin-top: 5px;
    overflow-y: scroll;
    width: 82%;
    height: 300px;
}

#remaining {
  margin-top: -300px;
  margin-left: 82%;
  width: 25%;
  border-left: 2px #d4d4d6;
  border-color: #f9989e;
}

.stock {
  background-color: #fff;
  border-top: 2px inset;
  border-bottom: 2px inset;
  margin-bottom: 10px;
  margin-left: 83%;
  height: 22px;
  width: 17%;
  font-size: 18px;
  border-color: #f9989e;
  color: #686565;
  padding: 2px 28px 2px 28px;
}

.stock:hover {
  background-color: #a02e2e;
  color: #fff;
}

.newStock {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #f7f3dc;
  padding: 5px;
}

#color {
  margin-left: 83%;
  margin-top: -199px;
}
